<div class="patient-record">
    <form>
        <div class="nb-3 row">
            <label>Search</label>
            <div class="col-xs col-sm-auto">
                <input class="form-control" type="text" [formControl]="filter" />
            </div>
        </div>
    </form>
    <table class="table table-striped record-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Medication</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for (patient of patients; track patient.name; let i = $index) {
            <tr>
                <th>{{i + 1}}</th>
                <td>
                    <!-- {{patient.name}} -->
                    <ngb-highlight [result]="patient.name" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <!-- {{patient.dob}} -->
                    <ngb-highlight [result]="patient.dob" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <!-- {{patient.medication}} -->
                    <ngb-highlight [result]="patient.medication" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <!-- {{patient.status}} -->
                    <ngb-highlight [result]="patient.status" [term]="filter.value"></ngb-highlight>
                </td>
            </tr>
            } @empty {
            <tr>
                <p>No records to show</p>
            </tr>
            }
        </tbody>
    </table>

</div>